:root {
    --primary-color-red: hsl(0, 100%, 74%);
    --primary-color-green: hsl(154, 59%, 51%);

    --accent-color: hsl(248, 32%, 49%);

    --neutral-color-dark-blue: hsl(249, 10%, 26%);
    --neutral-color-gray-blue: hsl(246, 25%, 77%);
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;

    background-color: var(--primary-color-red);
    background-image: url(../images/bg-intro-desktop.png);
}